.body {
    background-color: black;
}

.title {
    position: absolute;
    font-size: 60px;
    font-family: 'Courier New', Courier, monospace;
    color: blanchedalmond;
}

.table {
    position: absolute;
    top: 20%;
    color: black;
    font-size: 20px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    width: 600px;
    height: 400px;
    background-color: cornsilk;
    text-align: center;
}

.th {
    width: 50px;
    height: 30px;
}

.td {
    width: 50px;
    height: 30px;
}

.float {
    float: left;
}

.thtime {
    width: 100px;
    height: 30px;
    font-size: 20px;
}

.tdtime {
    width: 100px;
    height: 30px;
    font-size: 20px;
}
.button0{
    position: absolute;
    top: 30%;
    left: 60%;
    width: 350px;
    height: 50px;
    background-color: beige;
    font-family: 'Courier New', Courier, monospace;
    font-size: 30px;
    border-radius: 15px;
    opacity: 0.9;
}
.button1{
    position: absolute;
    top: 40%;
    left: 64%;
    width: 200px;
    height: 50px;
    background-color: beige;
    font-family: 'Courier New', Courier, monospace;
    font-size: 30px;
    border-radius: 15px;
    opacity: 0.9;
}