<!DOCTYPE html>
<html>

<head>
  <title>Homepage</title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
</head>

<body class="body">
  <h1 :class="homeClass" id="h1">Homepage~</h1>
  <a href="/main"><button :class='buttonClass' id="button" @mouseenter="mouseenter()" @mouseleave="mouseleave()">Hello
      World!</button></a>
  <script type="text/javascript" src="/javascripts/index.js"></script>
</body>

</html>