<!DOCTYPE html>
<html>

<head>

    <meta charset="UTF-8" http-equiv="refresh" content="1">
    <title>Study</title>
    <link rel="stylesheet" type="text/css" href="./stylesheets/myApp.css" />

</head>

<body class="back">
    <div class="input" value="online:">online: <%=data%></div>
    <div>
        <a href="../"><button class="get" id="get">click me to get back</button></a>
    </div>

    <script type="text/javascript" src="./javascripts/myApp.js"></script>
</body>

</html>