@font-face {
  /* 电视&#xe75d; 手机&#xe628; 搜索&#xe61c; 排行榜&#xe644; 房子&#xe632;*/
  /* 右箭头&#xe602; 左箭头&#xe501; */
  /* 循环&#xe53c; */
  /* 上箭头&#xe606; */
  /* 转换&#xe502; */
  font-family: 'iconfont';
  src: url('iconfont.eot');
  src: url('../font/') format('embedded-opentype'),
      url('../font/iconfont.woff2') format('woff2'),
      url('../font/iconfont.woff') format('woff'),
      url('../font/iconfont.ttf') format('truetype'),
      url('../font/iconfont.svg#iconfont') format('svg');
}
.iconfont {
  font-family: "iconfont" !important;
  font-size: 20px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}