#head {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 170px;
    background-image: url(../imgs/top.png);
    background-position: center -10px;
}
/*  */
#head .headNav {
    width: 100%;
    height: 25%;
    /* background-color: rgba(255, 255, 255, 0.4); */
    background-color: rgba(238, 238, 238, 0.438);
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.103);
    margin: 0;
    opacity: 1;
    white-space: nowrap;
} #head .leftNav {
    position: relative;
    left: 14%;
} #head .rightNav {
    position: relative;
    right: 15%;
} #head li {
    float: left;
    line-height: 40px;
    padding: 0 7px;
    height: 42.5px;
    cursor: pointer;
} #head li:hover {
    background-color:rgba(223, 222, 222, 0.4)
}
#head ul .tg :hover {
    background-color: rgba(71, 71, 71, 0.404);
    opacity: 0.5;
}


/*  */
#head .biliimg{
    position: absolute;
    width: 220px;
    height: 105px;
    left: 16.9%;
    top: 55px;
}
#head .biliTVicon {
    position: absolute;
    color: #00a1d6;
    left: 24px;
}
#head .biliPhoneicon {
    color: #00a1d6;
    font-size: 13px;
}
#head .login {
    width: 32px;
    height: 32px;
    border: 0 solid #fff;
    border-radius: 50%;
}
#head .tougao {
    display: block;
    width: 66px;
    height: 46px;
    line-height: 42px;
    text-align: center;
    font-size: 14px;
    color: #fff;
    background-color: #f45a8d;
    border-radius: 0 0 6px 6px;
}
/*  */

#head .search {
    position: absolute;
    width: 268px;
    height: 32px;
    padding: 2px 2px 2px 72px;
    top: 66.5%;
    right: 16.5%;
    display: block;
    background-color: transparent;
}
#head .searchContent {
    box-sizing: border-box;
    width: 268px;
    height: 32px;
}
#head .searchRank {
    padding: 0px 0px 0px 26px;
    color: #f25d8e;
    position: absolute;
    left: 9px;
    top: 2px;
    background-color: #fff;
    opacity: 0.85;
    border-radius: 6px;
    line-height: 28px;
    text-align: center;
    width: 48px;
    height: 32px;
    border: 1px solid darkgray;
    text-indent: -24px;
    font-size: 18px;
    margin: auto;
}
#head .searchInput {
    width: 200px;
    color: darkgray;
    overflow: hidden;
    height: 32px;
    line-height: 32px;
    padding: 0 12px;
    border: 0;
    font-size: 12px;
    box-shadow: none;
    background-color: transparent;
    position: absolute;
    left: 86px;
    top: 2px;
    background-color: #fff;
    opacity: 0.85;
    border-radius: 6px 0 0 6px;
    border: 1px solid darkgray;
    border-right: none;
}
#head .search :hover .searchInput {
    transition: 0.3s;
    background-color: rgba(255, 255, 255, 0.815);
}
#head .searchButton {
    width: 48px;
    height: 34px;
    cursor: pointer;
    background-color: #fff;
    opacity: 0.85;
    border-radius: 0px 6px 6px 0;
    position: relative;
    left: 19px;
    color: rgb(72, 101, 112);
    border: 1px solid darkgray;
    border-left: none;
    color: #00a1d6;
}
#head .search :hover .searchButton{
    color: #f45a8d;
}
@keyframes headdivemerge {
    from {opacity: 0;}
    to {opacity: 1;}
    from {margin-top: 10px;}
    to {margin-top: 0;}
}
#head .headNav div {
    width: 800px;
    height: 266px;
    position: absolute;
    display: none;
    z-index: 1000;
}
#head .headNav .activeheaddiv{
    animation: 0.6s headdivemerge;
    display: block;
}
