#rightNav {
    width: 50px;
    height: 642px;
    position: fixed;
    float: right;
    top: 232px;
    right: 200px;
    border-radius: 8px;
    border: 1px solid rgb(180, 176, 176, 0.3);
    white-space: nowrap;
}
#rightNav ul {
    float: right;
}
#rightNav li {
    width: 50px;
    height: 24px;
    background-color: whitesmoke;
    text-align: center;
    line-height: 28px;
    cursor: pointer;
}
#rightNav .last {
    height: 40px;
    font-size: 20px;
}
#rightNav .righticon {
    font-size: 16px;
}
#rightNav li:hover {
    transition: 0.6s;
    background-color: rgb(87, 216, 255);
    color: whitesmoke;
}