#tuiguang {
    position: relative;
    width: 1160px;
    height: 324px;
    top: 210px;
}

#tuiguang .tuiguangHead {
    height: 45px;
    width: 1160px;
}

#tuiguang .tuiguangBird {
    width: 40px;
    height: 40px;
    float: left;

}
#tuiguang h2 {
    float: left;
    font-size: 25px;
    font-weight: 200;
}
#tuiguang .span1 {
    position: absolute;
    left: 20%;
    margin-top: 15px;
}
#tuiguang .span2 {
    width: 260px;
    height: 48px;
    background-color: whitesmoke;
    text-align: center;
    margin: auto;
    line-height: 44px;
    border-radius: 12px;
    opacity: 0.8;
    color: black;
}
#tuiguang .tuiguangVideos {
    height: 168px;
    width: 1160px;
}
#tuiguang .ul1 {
    position: relative;
    right: 40px;
    float: left;
}
#tuiguang .ul1 li {
    float: left;
    width: 160px;
    height: 100px;
    margin-right: 12px;
}
#tuiguang .ul1 li img {
    border-radius: 6px;
    width: 160px;
    height: 100px;
}
#tuiguang .ul1 li .time {
    width: 20px;
    height: 20px;
    position: relative;
    top: 80px;
}
#tuiguang .ul1 li h4 {
    font-weight: 100;
    float: left;
    position: relative;
    top: 80px;
    color: white;
}
@keyframes spanemerge {
    from {opacity: 0;}
    to {opacity: 1;}
}
#tuiguang .ul1 .tuiguang_inactivespan {
    display: none;
}
#tuiguang .ul1 .tuiguang_activespan {
    width: 160px;
    height: 100px;
    position: relative;
    top: -100px;
    display: block;
    animation: 0.6s spanemerge;
    background-color: rgba(0,0,0,0.3);
    cursor: pointer;
    border-radius: 12px;
}
/*  */
#tuiguang .ul2 {
    float: left;
    position: relative;
    right: 40px;
}
#tuiguang .ul2 li {
    float: left;
    width: 160px;
    height: 48px;
    margin-right: 12px;
}
#tuiguang .ul2 li h3 {
    font-weight: 100;
    font-size: 8px;
}
@keyframes blueh3 {
    from {color: black;}
    to {color: #00a1d6}
}
#tuiguang .ul2 li .tuiguang_activeh3 {
    animation: 0.85s blueh3;
    color: #00a1d6;
}
#tuiguang .tuiguangimg {
    position: relative;
    bottom: 100px;
    width: 260px;
    height: 150px;
}

#tuiguang .ad {
    height: 111px;
    width: 1160px;
}
#tuiguang .adImg {
    position: absolute;
    height: 111px;
    width: 1160px;
    border-radius: 8px;
}

